* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #130324;
}

#home-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    gap: 20px;
}

 #loginbox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#loginbutton {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #967AA1;
    color: white;
    cursor: pointer;
}

#loginbutton:hover {
    background-color: #755f7d;
}
/*
img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
    transition: transform 0.2s;
}

.rotate {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#AuditsRatioDiv {
    background-color: #755f7d;
    width: 250px;
    margin-left: 80px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 80px;
}

#ratio-container {
    padding: 15px 10px 0;
}

#AuditsRatioDiv p {
    color: #ffffff;
    margin: 0;
}

#ratio-span {
    color: #ccc;
}

#bestSkillsDiv {
    width: 400px;
    height: 300px;
    background-color: #bd9ddf;
    margin-top: 20px;
}*/

#welcome-msg {
    color: #ffffff;
    font-size: 35px;
    /* margin-left: 80px;
    margin-top: 20px;
    margin-right: 80px; */
    /* display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%; */
    /* margin: 20px; */
}


/* #progressDiv {
    background-color: #c9abd5;
    width: 650px;
    margin-left: 80px;
    padding-left: 20px;
}

#userInfo {
    color: #431e51;
    background-color: #b99dc4;
    margin-left: 80px;
    margin-bottom: 20px;
    padding: 10px;
    width: 200px;
    height: 110px;
}*/

/* #RatioDiv {
    color: #ffffff;
    background-color: #a786b2;
}   */

/* #ratio-info-container {
    display: flex;
    flex-direction: column;
}  */

#left-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 20px;

}

#right-container {
    width: 50%;
    /* height: 100%; */
    flex-grow: 1;
    background-color: #a786b2;
    overflow: scroll;
}

#graphs-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    /* height: 100%; */
    padding: 0 20px;
    overflow: hidden;
}

#upper-leftDiv {
    height: 50%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#AuditsDiv {
    width: 50%;
    /* display: flex;
    flex-direction: row; */
}

#RatioDiv {
    color: #000000;
    background-color: #a786b2;
    height: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* margin: 20px; */
    /* margin: 10px 20px ; */
}


#title-ratio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#userInfo {
    color: #431e51;
    background-color: #b99dc4;
    height: 50%;
    padding: 20px;
    /* margin: 10px 20px ; */
    /* margin-right: 50px;
    margin-left :20px;
    margin-bottom: 20px; */
    font-size: 20px;
}

#bestSkillsDiv {
    background-color: #bd9ddf;
    width: 50%;
    padding-top: 80px;

    /* margin: 20px; */
}

#left-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#progressDiv {
    background-color: #c9abd5;
    /* margin: 20px; */
    /* padding: 10px; */
    /* height: 100%; */
    /* overflow: scroll; */
}

#AduitsResultsDiv{
    background-color: #a786b2;
    /* height: 100%;
    width: 100%; */
    padding: 20px;
    /* margin: 20px; */
    overflow-y: auto; 

}
#AduitsResultsDiv{
    height: 100%;
}
/* #projectDiv{
    display: flex;
    gap: 15px; 
    background-color: #9f75ad;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
} */

.projectRow {
    background-color: #9f75ad; 
    font-size: 20px; 
}

.projectRow td {
    padding: 10px;
}

#auditsTable{
    width: 100% ;
    padding: 5px;
    /* border-collapse: separate; */
}

#auditsTable thead tr{
    background-color: #835692;
    text-align: left;
    padding: 10px;
}
#upperdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}

#logoutbtn{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #967AA1;
    color: white;
    cursor: pointer;
    font-size: large;
    transition: border-radius ease 0.1s;
}

#logoutbtn:hover {
    border-radius: 8px;
    background-color: #755f7d;
}